<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>

 <body>
    <h2>Team Name: <%= @team_name %></h2>
    <p><b>Coach: <%= @coach %></b></p>
    <p><b>Point Guard: <%= @point_guard %></b></p>
    <p><b>Shooting Guard: <%= @shooting_guard %></b></p>
    <p><b>Small Forward: <%= @small_forward %></b></p>
    <p><b>Power Forward: <%= @power_forward %></b></p>
    <p><b>Center: <%= @center %></b></p>
 </body>
</html>


